<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>SeaLa:タスク詳細表示</title>
</head>
<body>
	<main layout:fragment="content">

        <div class="mt-4 container">
        <h4 class="py-3">タスク詳細表示</h4>
        <form method="post" th:object="${detailForm}">
          <div class="text-end">
            <button type="submit" class="btn btn-primary" th:formaction="'/task/detail/id=' + *{taskId}" name = "complete">タスク完了</button>
          </div>
            <div class="mb-3 mx-3">
              <label for="taskContent" class="form-label">タスク内容</label>
              <input type="text" class="form-control" th:field="*{taskContent}" 
                     placeholder="タスク内容を入力してください">
            </div>
            <div class="mb-3 mx-3">
              <label for="taskDeadline" class="form-label">期限日</label>
              <input type="text" class="form-control" th:field="*{taskDeadline}"
                     placeholder="yyyy/MM/dd">
            </div>
            <div class="mb-4 mx-3">
              <label for="taskNote" class="form-label">備考</label>
              <textarea type="text" class="form-control" rows="5" th:field="*{taskNote}"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" th:formaction="'/task/detail/id=' + *{taskId}" name = "update">情報更新</button>
              &emsp;&emsp;&emsp;&emsp;&emsp;
              <button type="submit" class="btn btn-primary" th:formaction="'/task/detail/id=' + *{taskId}" name = "delete">削除</button>
            </div>
          </form>
        </div>

    </main>
</body>
</html> 