<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>SeaLa:タスク新規登録</title>
</head>
<body>
	<main layout:fragment="content">

        <div class="mt-4 container">
        <h4 class="py-3">タスク新規登録</h3>
        <form method="post" action="/task/register" th:object="${registerForm}">
            <div class="mb-3 mx-3">
              <label for="taskContent" class="form-label">タスク内容</label>
              <input type="text" class="form-control" th:field="*{taskContent}" 
                     th:errorclass="is-invalid" placeholder="タスク内容を入力してください">
              <div class="invalid-feedback" th:errors="*{taskContent}"></div>
            </div>
            <div class="mb-3 mx-3">
              <label for="taskDeadline" class="form-label">期限日</label>
              <input type="text" class="form-control" th:field="*{taskDeadline}"
                     th:errorclass="is-invalid" placeholder="yyyy/MM/dd">
              <div class="invalid-feedback" th:errors="*{taskDeadline}"></div>
            </div>
            <div class="mb-4 mx-3">
              <label for="taskNote" class="form-label">備考</label>
              <textarea type="text" class="form-control" rows="5" th:field="*{taskNote}"
                        th:errorclass="is-invalid"></textarea>
              <div class="invalid-feedback" th:errors="*{taskNote}"></div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">新規登録</button>
            </div>
          </form>
        </div>

    </main>
</body>
</html>