<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.raisetech.mapper.TaskMapper">

	<select id="selectIncompleteTasks" resultType="com.raisetech.entity.Task">
		SELECT * FROM tasks
		WHERE completed_flag = false;
	</select>

	<select id="selectCompletedTasks" resultType="com.raisetech.entity.Task">
		SELECT * FROM tasks 
		WHERE completed_flag = true;
	</select>
	
	<select id="selectTask">
		SELECT *
		FROM tasks
		WHERE task_id = #{taskId}
	</select>
	
	<insert id="insertTask">
		INSERT INTO tasks(
			task_content,
			task_note,
			task_deadline
			)
		VALUES(
			#{taskContent},
			#{taskNote},
			#{taskDeadline}
			)	
	</insert>
	
	<update id="updateCompletedFlagToTrue">
		UPDATE tasks
		SET completed_flag = true
		WHERE task_id = #{taskId}
	</update>
	
	<update id="updateTaskDetails">
		UPDATE tasks
		SET task_content = #{taskContent},
			task_note = #{taskNote},
			task_deadline = #{taskDeadline}
		WHERE task_id = #{taskId} 
	</update>
	
	<delete id="deleteTask">
		DELETE FROM
			tasks
		WHERE
			task_id = #{taskId}
	</delete>
</mapper>
